body {
	background-color: DarkBlue;
	font: 17px arial, sans-serif;
	font-color: DarkBlue;
}

form {
	background-color: DodgerBlue;
	margin: 3% 7% 3% 7%;
	padding: .5% 5% 2% 21%;
	text-align: left;
}


textarea {
    width: 60%;
    padding: 5% 10%;
 }

 .submbutton {
 	text-align: center;
 	margin: 1% 35%;
 	width: 90px;
 	height: 45px;
 	font: bold 15px arial, sans-serif;
 	color: white;
 	border-color: DarkBlue;
 	background: DarkSlateBlue;
 }

p {
	background-color: white;
	text-align: center;
	margin: 3% 17% 3% 0%;
	padding: 2% 1% 16% 2%;
	font-size: 17px;
	font-family: "Times New Roman", Times, serif;
}