/* galvenais un teksta css */

body {
    padding: 25px;
    background-color: silver;
    color: black;
    font-size: 25px;
}

h1, h2, h3, p, div {
    text-align: center;
    font-family: arial;
}

p{
	text-align: center;
	/*font-size: 19px;*/
}


/*saraksti*/
li {
    text-align: left;
}
ul, ol {
    display: table;
    margin: 0 auto;
}


/* pogas */
 .button {
    background-color: #4d3c3c;
    border: ##2b2828;
    border-style: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover, .button:focus {
    background-color: #655757;
}


/*pogas pozīcija*/
.container {
    height: 200px;
    position: relative;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }